build/
.DS_Store
build/
*.user
*.suo
*.sdf
*.opedsdf
*.sln
*.vcxproj
*.vc.db
*.VC.db
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.cmake
cmake-tools.vsix
toolchain.cmake
*gcno
*gcda
*gcov
*.profraw
*.profdata
coverage.info
coverage.txt
coverage_report/
Icov.info
.vscode/
.idea/
*.code-workspace
*.swp
*~
*.orig
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp54
*.a
*.o
*.so
*.dylib
*.dll
*.exe
